body{
  font-family: "Helvetica Neue", "Helvetica", PingFang SC,STHeitiSC-Light,Helvetica-Light,arial,sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;

  -webkit-user-select: none;
  -webkit-touch-callout: none;
  /*background: transparent !important;*/
}

.font-family-medium{
  font-family: PingFangSC-Medium, sans-serif;
}
/* 通用样式 */
.detail-footer-btn {
    width: 50%;
    height: 90upx;
    line-height: 90upx;
    font-size: 36upx;
    color: #FFF;
    text-align: center;
    background: #FF7900;
}
.grace-padding{padding:2%; width:96%;}
.grace-common-bg{background:#F8F8F8;}
.grace-noborder{border:0 !important;}
.grace-left-padding-wrap{width:96%; padding:12upx 0; padding-left:4%; overflow:hidden; background:#FFFFFF;}
.grace-left-padding-wrap .grace-list{border-bottom:1upx solid #D1D1D1; padding-left:0;}
.grace-left-padding-wrap .grace-list view text{color:#666;}
@keyframes gradient{50%{background-position:100% 0;}}
.grace-gradient-bg{width:100%;
  background: linear-gradient(45deg,#5a3694 0,#13bdce 33%,#0094d9 66%,#6fc7b5 100%);
  background-size: 400%; background-position:0 100%; animation: gradient 7.5s ease-in-out infinite; padding:50upx 0;
}
.grace-gradient-bg view{color:#FFF;}
/* 通用 css 动画 */
@keyframes grace-fade-in {0% {opacity: 0.1;} 40% {opacity: 0.5;}100% {opacity: 1;}}
.grace-fade-in{animation : grace-fade-in 200ms linear;}

/* 通用组件声明 */
graceSwiper{width:100%; height:auto;}
graceSlider, graceSpeaker, graceLoading{width:100%;}


/* 文字相关 */
.grace-center{justify-content:center; text-align:center;}
.grace-h1{font-size:80upx; line-height:1.8em;}
.grace-h2{font-size:60upx; line-height:1.8em;}
.grace-h3{font-size:45upx; line-height:1.8em;}
.grace-h4{font-size:32upx; line-height:1.8em;}
.grace-h5{font-size:30upx; line-height:1.8em;}
.grace-text{line-height:2.2em;}
.grace-text image{width:100%; margin:20upx 0;}
.grace-text-small{font-size:24upx; line-height:1.8em;}
.grace-line-through{text-decoration:line-through;}
.grace-italic{font-style:italic;}
.grace-indent{text-indent:2em;}
.grace-blod{font-weight:700;}
.grace-ellipsis{width:100%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

/* 栅格布局 */
.grace-flex{display:flex !important;}
.grace-rows{display:flex; flex-direction:row !important;}
.grace-columns{display:flex; flex-direction:column !important;}
.grace-wrap{display:flex; flex-wrap:wrap;}
.grace-nowrap{display:flex; flex-wrap:nowrap !important;}
.grace-space-between{display:flex; justify-content:space-between !important;}

/* 背景颜色 */
.grace-bg-red{background:#F76260;}
.grace-bg-green{background:#09BB07;}
.grace-bg-blue{background:#10AEFF;}

/* 滚动区域 */
.grace-scroll-x{width:100%; display:flex; white-space:nowrap; height:auto; font-size:0;}
.grace-scroll-x .grace-items{width:355upx; height:200upx; vertical-align:top; margin:0 10upx; display:inline-flex;}
.grace-scroll-y{width:100%; display:flex; font-size:0; height:200upx;}
.grace-scroll-y .grace-items{width:100%; height:200upx;}

/* 数字角标 */
.grace-badge{border-radius:38upx; height:38upx; line-height:38upx; padding:0 13upx; font-size:22upx; background:#D1D1D1;}
.grace-badge-red{background:#F76260; color:#FFF !important;}
.grace-badge-green{background:#09BB07; color:#FFF !important;}
.grace-badge-blue{background:#10AEFF; color:#FFF !important;}
.grace-badge-yellow{background:#F0AD4E; color:#FFF !important;}

/* 普通列表 */
.grace-list{display:flex; padding:20upx 2%; overflow:hidden; width:96%; flex-wrap:nowrap !important; justify-content:space-between; align-items:center;}
.grace-list > image{width:56upx; height:56upx;}
.grace-list > view{display:flex; flex-wrap:nowrap; flex-shrink:0; align-items:center;}
.grace-list > view:last-child{justify-content:right;}
.grace-list > view > text{color:#666; font-size:22upx;}
.grace-list-text{font-size:30upx; line-height:2em; width:100%; flex-shrink:1;}
.grace-list-text text{font-size:26upx; line-height:2em; color:#666;}
.grace-list-imgs-r{width:56upx; flex-shrink:0; margin-left:20upx;}
.grace-list-imgs-l{width:56upx; flex-shrink:0; margin-right:20upx;}
.grace-list-imgs-arrow{width:40upx; flex-shrink:0; text-align:right; color:#888; font-size:36upx;}
.grace-list-mr{margin-right:20upx;}

/* 多格图标 */
.grace-boxes{width:23%; margin:0 1%; padding:10upx 0;}
.grace-boxes-img{width:70%; margin:0 auto; text-align:center; padding-bottom:10upx; font-size:0;}
.grace-boxes-img image{width:100%;}
.grace-boxes-text{line-height:2em; text-align:center; font-size:22upx;}

/* 图文列表 */
.grace-imgitems{display:flex; width:100%; flex-wrap:wrap;}
.grace-imgitems .grace-items{width:48%; margin:10upx 1%; overflow:hidden; font-size:0; position:relative;}
.grace-imgitems image{width:100%;}
.grace-imgitems-text{margin:6upx 1%; width:98%; font-size:26upx; height:50upx; line-height:50upx;}
.grace-imgitems-more{display:flex; justify-content:space-between; line-height:46upx;}
.grace-imgitems-button{width:auto; border:1px solid #09BB07; line-height:44upx; padding:0 20upx; color:#49A761; font-size:24upx; border-radius:5upx;}
.grace-imgitems-tips{display:flex; flex-wrap:nowrap; width:auto; position:absolute; top:10upx; color:#FFFFFF; height:36upx; font-size:20upx; line-height:36upx; background:#F76260; padding:0 6px;}
.grace-imgitems-tips-green {background: #09BB07;}
.grace-imgitems-tips-r{right:0;}

/* 新闻列表 */
.grace-news-list{padding:12upx 0;}
.grace-news-list > navigator{display:block; width:100%; padding:12upx 0; margin:12upx 0;}
.grace-news-list-items{width:100%; display:flex; flex-wrap:nowrap; position:relative;}
.grace-news-list-img{width:200upx; flex-shrink:0;}
.grace-news-list-title{width:100%; overflow:hidden;}
.grace-news-list-title-main{line-height:1.5em; font-size:32upx; width:100%;}
.grace-news-list-title-desc{font-size:24upx; display:block; color:#666; margin-top:12upx; height:40upx; line-height:40upx;}
.grace-news-tips{width:auto; padding:0 12upx; border-radius:5upx; overflow:hidden; background:#FF4343; position:absolute; top:0; color:#FFFFFF; height:36upx; line-height:36upx; font-size:20upx;}
.grace-news-tips-l{left:0;}
.grace-news-tips-r{right:0;}
.grace-news-list-info{width:100%; margin-top:10upx; line-height:36upx; font-size:24upx; color:#666; justify-content:space-between;}
.grace-news-list-info view{font-size:24upx; color:#666;}
.grace-news-list-info text{font-size:24upx; color:#666; margin-right:10upx;}
.grace-news-list-img-news{width:100%; flex-wrap:wrap;}
.grace-news-list-imgs{justify-content:space-between; width:100%; padding:18upx 0;}
.grace-news-list-imgs image{width:31.3%; margin:0 1%;}
.grace-news-list-img-big{width:100%; padding:18upx 0;}
.grace-news-list-img-big image{width:100%;}

/* 选项卡 */
.grace-tab{padding:0;}
.grace-tab-title{white-space:nowrap; text-align:center; background:#FFFFFF;}
.grace-tab-title view{width:auto; padding:0 12px; margin:0 8px; line-height:42px; display: inline-block; text-align:center; border-bottom:2px solid #FFFFFF; font-size:30upx;}
.grace-tab-title view:first-child{margin-left: 0;}
.grace-tab-title view:last-child{margin-right: 0;}
.grace-tab-current{border-bottom:4upx solid #49A761 !important; color:#49A761;}
.grace-tab-swiper{width:100%; height:350upx; padding:0;}
.grace-tab-swiper swiper-item{width:100%;}
.grace-tab-swiper swiper-item navigator{line-height:70upx; width:100%; display:block;}
.grace-tab-swiper-full{width:100%; height:auto;}
.grace-tab-swiper-full swiper-item{width:100%;}
.grace-tab-swiper-full scroll-view{width:100%; height:100%;}

/* 折叠面板 */
.grace-accordion{background:#FFFFFF;}
.grace-accordion-items{overflow:hidden; border-bottom:1px solid #F2F3F4;}
.grace-accordion-items:last-child{border:none;}
.grace-accordion-title{display:flex; flex-wrap:nowrap; width:96%; justify-content:space-between; padding:0 1% 0 3%; line-height:88upx; height:88upx; overflow:hidden; font-size:32upx;}
.grace-accordion .grace-current{background:#F2F3F4;}
.grace-accordion-body{overflow:hidden;}

/* 标题及更多 */
.grace-title{padding:10upx 0; line-height:1.8em;}
.grace-title .grace-text-small{color:#888;}
.grace-more-bottom{font-size:24upx; text-align:center; justify-content:center; padding:15upx 0; line-height:40upx;}
.grace-more-bottom text{font-size:24upx;}
.grace-more-r{display:block; width:auto; flex-shrink:0; font-size:22upx;}
.grace-more-r text{font-size:22upx;}

/* 横向广告组 */
.grace-box-banner{padding:20upx 0; display:flex; flex-wrap:nowrap; overflow:hidden; background:#FFF;}
.grace-box-banner .garce-items{width:25%; border-right:1px solid #F1F2F3; justify-content:center; line-height:1.4em; text-align:center；}
.grace-box-banner .garce-items:last-child{border:none;}
.grace-box-banner .garce-items view{justify-content:center; text-align:center;}
.grace-box-banner .garce-items text text{font-size:22rupx; color:#666;}
.grace-box-banner .line1{font-size:36upx; line-height:60upx; overflow:hidden;}
.grace-box-banner .line1 text{font-size:26upx; color:#666; line-height:65upx; margin-left:5upx;}
.grace-box-banner .line2{font-size:26upx; color:#666; line-height:32upx;}

/* 可选标签 */
.grace-select-tips{padding:10upx 0;}
.grace-select-tips checkbox-group, .grace-select-tips radio-group{width:100%; display:flex; flex-wrap:wrap;}
.grace-select-tips label{display:block; width:auto; overflow:hidden; padding:15upx 22upx; height:30upx; line-height:30upx; margin:8upx; background:#F6F7F8; font-size:26upx; border-radius:5upx;}
.grace-select-tips label checkbox, .grace-select-tips label radio{display:none;}
.grace-checked{background:#63ba97 !important; color:#FFFFFF;}

/* 底部导航 */
.grace-footer{display:flex; position:fixed; z-index:2; left:0; bottom:0; background:#FFFFFF; width:100%; height:90upx; flex-wrap:nowrap; overflow:hidden; box-shadow:1px 1px 6px #888;}
.grace-footer .grace-input{width:100%; margin:15upx 20upx; padding:0 15upx; background:#F4F5F6; height:60upx; border-radius:60upx; flex-wrap:nowrap; display:flex;}
.grace-input-icon{width:60upx; height:60upx; line-height:60upx; font-size:30upx; color:#000000; justify-content:center; flex-shrink:0;}
.grace-footer .grace-input input{width:100%; padding:10upx 15upx; height:40upx; line-height:40upx; font-size:26upx; background:none; border:0;}
.grace-footer .icons{width:70upx; height:60upx; margin:15upx 8upx; text-align:center; line-height:60upx; flex-shrink:0; font-size:50upx;}
.grace-footer .grace-items{width:auto; line-height:90upx; flex-shrink:0;}
.grace-footer button{width:100%; border:0; border-radius:0; height:90upx; line-height:90upx;}

/* 表单 */
.grace-form{padding:0; width:100%;}
.grace-form form{display:block; width:100%; overflow:hidden;}
.grace-form .grace-items{display:flex; border-bottom:1px solid #F2F3F4; width:100%; flex-wrap:nowrap; justify-content:space-between; padding:10upx 0;}
.grace-form .grace-items .grace-label{width:130upx; height:80upx; line-height:80upx; flex-shrink:0; overflow:hidden;margin-left: 20upx;}
.grace-form .grace-items .input{width:98%; height:40upx; line-height:40upx; background:none; flex-shrink:1; border:0; text-align:right; padding:20upx 2%; margin-left:40upx;}
.grace-form-r{width:100%; padding:0 10upx; line-height:80upx; display:block; overflow:hidden; flex-shrink:1; margin-left:40upx; text-align:right;}
.grace-form picker{width:100%; height:80upx; line-height:80upx; background:none; border:0; text-align:right;}
.grace-form switch{margin-top:10upx;}
.grace-form .grace-items picker text{justify-content:right; line-height:80upx;}
.grace-form .grace-items picker text:after{content:"\e601"; padding-left:10upx; color:#888; font-family:"grace-iconfont" !important; font-size:30upx;}
.grace-form textarea{width:98%; height:100upx; line-height:2em; background:none; border:0; padding:8upx 2%;}
.grace-label-x{width:100%; padding:12upx 0; flex-shrink:1; margin-left:40upx;}
.grace-label-x label{margin:10upx;}
.grace-label-y{width:100%; padding:12upx 0; flex-shrink:1; margin-left:40upx;}
.grace-form radio-group, .grace-form checkbox-group{width:100%; display:flex; flex-wrap:wrap;}
.grace-label-y label{margin:8px 0; width:100%;}
.grace-items-wbg{background:#FFF; border:0 !important; border-radius:8upx; padding:3upx 0 !important;}
.grace-items-wbg input{text-align:left !important;}
.grace-login-three{display:flex; justify-content:center; flex-wrap:nowrap;}
.grace-login-three view{width:44px; height:44px; line-height:44px; font-size:36px; color:#FFF; text-align:center; margin:8px;}

/* 遮罩层 */
.grace-mask{background:rgba(0, 0, 0, 0.6); position:fixed; width:100%; height:100%; left:0; top:0; z-index:1;}

/* steps */
.grace-steps{padding:20upx 0; background:#FFF; display:flex; flex-wrap:nowrap;}
.grace-steps view{display:flex; width:100%;}
.grace-steps .step{width:31.3%; margin:0 1%; flex-wrap:nowrap;}
.grace-steps .step-circle{width:50upx; height:50upx; border-radius:50upx; background:#F1F1F3; justify-content:center; line-height:50upx; flex-shrink:0; margin-right:15upx; color:#666;}
.grace-steps .step-content{width:100%; height:22upx; border-bottom:1px solid #F1F1F3;}
.grace-steps .step-title{line-height:50upx; height:50upx; background:#FFFFFF; width:auto; padding-right:12upx;}
.grace-steps .current .step-circle{background:#00B26A; color:#FFFFFF;}
.grace-steps .current .step-content{border-color:#00B26A;}
.grace-steps .current .step-title{color:#00B26A;}

/* 评论列表 */
.grace-comment{padding:5upx 0;}
.grace-comment-list{display:flex; flex-wrap:nowrap; padding:10upx 0; margin:10upx 0;}
.grace-comment-face{width:70upx; height:70upx; border-radius:100%; margin-right:20upx; flex-shrink:0; overflow:hidden;}
.grace-comment-face image{width:100%; border-radius:100%;}
.grace-comment-body{width:100%;}
.grace-comment-top{display:flex; flex-wrap:nowrap; line-height:1.5em; justify-content:space-between;}
.grace-comment-top text{color:#0A98D5; font-size:24upx;}
.grace-comment-top text:last-child{color:#666666;}
.grace-comment-date{display:flex; flex-wrap:nowrap; line-height:1.5em; justify-content:space-between;}
.grace-comment-date text{color:#666666; font-size:24upx;}
.grace-comment-content{line-height:1.6em; padding:8upx 0;}
.grace-comment-zan{color:#0A98D5 !important;}
.grace-comment-replay-btn{background:#F4F5F6; font-size:24upx; padding:8upx 15upx; border-radius:30upx; color:#333 !important; margin:0 10upx;}
.grace-comment-imgs{display:flex; padding:8upx 0; flex-wrap:wrap;}
.grace-comment-imgs .imgs{width:31.3% !important; max-height:90px; margin:5px 1%; overflow:hidden;}
.grace-comment-imgs .imgs image{width:100%;}

/* 搜索 */
.grace-search{width:100%; overflow:hidden; display:flex; flex-wrap:nowrap;}
.grace-search-btns{width:50upx; height:50upx; margin:8upx 8px;}
.grace-search-btns image{width:50upx; height:50upx;}
.grace-search-in{background:#FFFFFF; border-radius:66upx; height:36upx; overflow:hidden; display:flex; flex-wrap:nowrap; width:92%; padding:15upx 4%;}
.grace-search-icon{width:36upx; height:36upx; line-height:36upx; color:#007AFF; justify-content:center; font-family:"grace-iconfont" !important; font-size:30upx; font-style:normal; flex-shrink:0;}
.grace-search-icon:before{content:"\e604"; color:#007AFF;}
.grace-search input{width:100%; background:#900; padding:0 20upx; border:0; background:#FFF; height:28upx; line-height:28upx; 
margin:0; color:#000;}
.grace-search-clear:before{content:"\e78a" !important; color:#CCCCCC !important;}
.grace-search-remove:before{font-family:"grace-iconfont"; font-style:normal;content:"\e684" !important; color:#CCCCCC !important; font-size:40upx; line-height:40upx;}

/* 标签 */
.grace-tips{padding:10upx 0; display:flex; flex-wrap:wrap;}
.grace-tips view{padding:0 20upx; border-radius:30upx; margin-right:15upx; margin-bottom:15upx; font-size:24upx; line-height:46upx; border:1px solid #D1D1D1; color:#666666; width:auto;}

/* 文件添加及预览 */
.grace-add-file{padding:20upx; display:flex; flex-wrap:wrap; width:710upx;}
.grace-add-btn{width:213upx; margin:10upx; background:#F5F5F5; padding:45upx 0;}
.grace-add-btn view{font-size:26upx; height:40upx; line-height:40upx; text-align:center; color:#999999; width:100%;}
.grace-add-btn view:first-child{font-size:80upx; height:80upx; line-height:80upx;}
.grace-add-file .garce-items{width:213upx; height:213upx; margin:10upx; overflow:hidden; position:relative;}
.grace-add-file .garce-items image{width:100%;}
.grace-add-file .garce-items-media{width:213upx; height:213upx; margin:10upx; overflow:hidden;}
.grace-add-file .garce-items-media video{width:213px; height:190upx;}
.grace-add-file .grace-remove{height:40upx; font-size:22upx; justify-content:center; line-height:60upx; overflow:hidden;}
.grace-add-file .garce-items .grace-close{font-family:"grace-iconfont" !important; width:46upx; height:46upx; position:absolute; z-index:1; right:10upx; bottom:10upx; font-size:46upx; color:#FF0000; opacity:0.8}
.grace-add-file .garce-items .grace-close:before{content:"\e602";}

/* 普通表格 */
.grace-stable{padding:0;}
.grace-stable .title{flex-wrap:nowrap; display:flex;}
.grace-stable .title > view{line-height:50px; width:25%; text-align:center; font-weight:700; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; border-bottom:1px solid #D1D1D1; border-right:1px solid #D1D1D1; background:#F1F2F3;}
.grace-stable .title > view:last-child{border-right:none;}
.grace-stable .body{flex-wrap:nowrap; display:flex;}
.grace-stable .body > view{line-height:46px; width:25%; text-align:center; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; border-bottom:1px solid #D1D1D1; font-size:24upx; border-right:1px solid #D1D1D1;}
.grace-stable .body > view:last-child{border-right:none;}

/* 数据表格 */
.grace-table{display:flex; flex-wrap:nowrap; justify-content:space-between; width:100%;}
.grace-table-left{width:200upx;}
.grace-table-right{width:539upx;}
.grace-table-title{width:100%; display:flex; line-height:100upx; background:#FFFFFF; justify-content:center; flex-wrap:nowrap; margin-top:2upx;}
.grace-table-title view{line-height:100upx; font-size:30upx; text-align:center; width:100%;}
.grace-table-right scroll-view{width:100%;}
.grace-table-right .rows{width:800upx; margin-top:2upx; background:#FFFFFF; display:flex; flex-wrap:nowrap;}
.grace-table-right .rows .items{width:25%; line-height:100upx; text-align:center; overflow:hidden;}

/* 时间轴 */
.grace-timeline{width:100%;}
.grace-timeline .rows{padding:20upx; display:flex; flex-wrap:nowrap; justify-content:space-between; position:relative;}
.grace-timeline-time{width:130upx; flex-shrink:0; overflow:hidden;}
.grace-timeline-time view{font-size:22upx; color:#ccc; text-align:right; overflow:hidden; line-height:1.5em;}
.grace-timeline-time view:last-child{font-size:28upx; color:#46A4DA;}
.grace-timeline-tips{width:70upx; height:100%; margin:0 15upx; flex-shrink:0; position:relative;}
.grace-timeline-circular{width:50upx; height:50upx; border:10upx solid #AFDCF8; border-radius:100%; line-height:50upx; text-align:center; background:#46A4DA; color:#FFF; position:absolute; left:0; top:0; z-index:2}
.grace-timeline-circular image{border-radius:100%; font-size:0; width:100%;}
.grace-timeline-content{width:100%; background:#46A4DA; color:#FFF; padding:18upx; border-radius:12upx;}
.grace-timeline-content view{font-size:28upx;}
.grace-timeline-content view:first-child{font-size:32upx;}
.grace-timeline-line{width:8upx; height:100%; background:#AFDCF8; position:absolute; z-index:1; left:195upx; top:30upx;}

/* 全屏分类 */
.grace-cate{width:100%; height:100%; background:#FFFFFF; position:fixed; z-index:99; left:0; top:0; display:flex; flex-wrap:wrap;}
.grace-cate-left{width:25%; height:100%; display:flex; background:#F8F8F8;}
.grace-cate-left view{height:150upx; line-height:150upx; font-size:30upx; border-bottom:1px solid #EEE; text-align:center;}
.grace-cate-left .current{background:#FFFFFF !important;}
.grace-cate-right{width:75%; height:100%; display:flex; background:#FFFFFF;}
.grace-cate-sons{padding:15upx 3%; width:94%;}
.grace-cate-sons-title{line-height:80upx; margin-top:18upx; font-size:30upx;}
.grace-cate-sons-nav{display:flex; flex-wrap:wrap; border-bottom:1px dashed #D1D1D1; padding-bottom:22upx;}
.grace-cate-sons-nav view{width:29.3%; padding:15upx 0; margin:8upx 2%; color:#888; overflow:hidden;}

/* 购物车 */
.grace-shoppingcard{background:#FFFFFF; width:94%; padding:15upx 3%; margin-bottom:22upx;}
.grace-shoppingcard .shop-name{line-height:50upx;}
.grace-shoppingcard .goods{margin:10upx 0; display:flex; flex-wrap:nowrap;}
.grace-shoppingcard .goods image{width:150upx; margin-right:20upx; flex-shrink:0;}
.grace-shoppingcard .goods .desc{width:100%;}
.grace-shoppingcard .goods .goods-title{line-height:1.4em;}
.grace-shoppingcard .goods .goods-price{margin-top:8upx; color:#F00; font-size:36upx; display:flex; flex-wrap:nowrap; justify-content:space-between;}
.grace-shoppingcard .goods .goods-number{padding:2px 0;}
.grace-shoppingcard .goods-remove{display:flex; line-height:50upx; margin-top:30upx; color:#CCCCCC; font-size:26upx; justify-content:flex-end;}
.grace-shoppingcard .goods-remove text{color:#CCCCCC; margin-right:20upx;}

/* filter */
.grace-filter{width:100%; background:#FFFFFF; position:fixed; z-index:9; left:0; top:0; border-bottom:1px solid #F2F3F4; display:flex; flex-wrap:nowrap;}
.grace-filter .items{display:flex; flex-wrap:nowrap;  width:25%; justify-content:center; height:90upx; line-height:90upx;}
.grace-filter .items image{width:40upx; margin:22upx 10upx;}
.grace-filter .items text{margin-left:10upx; font-size:24upx;}
.grace-filter-options{width:100%; position:absolute; z-index:10; padding:20upx 0; right:0; top:92upx; background:#FFFFFF;}
.grace-filter-options .option{display:flex; justify-content:space-between; text-indent:2em; height:70upx; line-height:70upx;}
.grace-filter-options .option text{margin-right:30upx; font-size:30upx; color:#F00; font-weight:700;}
.grace-filter-options .current{color:#F00; font-weight:700;}
.grace-filter-buttons{display:flex; width:100%; flex-wrap:nowrap; position:absolute; z-index:11; left:0; bottom:0; height:90upx; background:#FFF;}
.grace-filter-buttons view{width:50%; height:100upx; line-height:100upx; text-align:center; position:relative;}
.grace-filter-buttons view:last-child{background:#FF0000; color:#FFF;}
.grace-filter-buttons view button{opacity:0; width:100%; position:absolute; z-index:9; left:0; top:0; height:90upx;}

/* 瀑布流 */
.grace-waterfall{width:100%; display:flex; flex-wrap:no-wrap;}
.grace-waterfall .list{width:46%; margin:0 2%;}
.grace-waterfall .items{margin:20upx 0; position:relative;}
.grace-waterfall .items .imgs{width:100%;}
.grace-waterfall .items .title{line-height:1.4em; font-size:16px; margin-top:12px;}
.grace-waterfall .items .price{padding:10upx 0; display:flex; flex-wrap:nowrap; justify-content:space-between; font-size:32upx; line-height:35px; color:#FF0036;}
.grace-waterfall .items .tips{height:32px; width:auto; line-height:32px; background:#FF0036; color:#FFFFFF; padding:0 20upx; border-radius:3px;}

/* 滚动操作 */
.grace-scroll-do{width:720upx; padding-left:30upx; border-bottom:1px solid #E6E6E6; border-top:1px solid #E6E6E6;}
.grace-scroll-do scroll-view{border-bottom:1px solid #E6E6E6; width:720upx;}
.grace-scroll-do scroll-view:last-child{border:none;}
.grace-scroll-do .grace-items{width:720upx; flex-wrap:nowrap; height:80upx; margin:20upx 0; align-items:flex-start;}
.grace-scroll-do .grace-items image{width:100upx; flex-shrink:0; margin-right:20upx; font-size:0; border-radius:3upx;}
.grace-scroll-do .grace-items .contents{width:100%; margin-right:20upx;}
.grace-scroll-do .grace-items .contents view{line-height:1.6em !important;}
.grace-scroll-do .btn{background:#FF3A30; color:#FFF; width:130upx; height:140upx; line-height:140upx; justify-content:center; text-align: center; margin:0; overflow:hidden;}
.grace-scroll-do .btn-first{background:#5959D3;}

/* 商品展示 */
.grace-product-title{background:#FFF; font-weight:600; line-height:1.8; font-size:32upx;}
.grace-product-share{width:28px; font-size:24px; color:#FF7900; line-height:40px; flex-shrink:0; margin-left:12px;}
.grace-product-price{background:#FFF; padding:20upx 2%; padding-bottom:5upx; color:#FF7900; line-height:30px; font-size:24px; font-weight:600; margin-top:5px;}
.grace-product-price text{color:#999; font-size:16px; text-decoration:line-through; line-height:30px; margin-left:8px;}
.grace-product-desc{background:#FFF; padding:8upx 2%; padding-bottom:20upx; font-size:24upx; color:#666666; line-height:1.8; justify-content:space-between; display:flex; flex-wrap:nowrap;}
.grace-product-menu{padding:0upx 2%; padding-top:10px; background:#FFF; margin-top:5px; display:flex; flex-wrap:nowrap;}
.grace-product-menu view{width:40%; margin:0 5%; line-height:80upx; border-bottom:6upx solid #FFFFFF; font-size:32upx; text-align:center;}
.grace-product-menu .active{border-color:#FF7900; font-weight:600; color:#FF7900;}
.grace-product-info{background:#FFF; padding:30upx 2%;}
.grace-product-info image{width:100%;}
.grace-product-btn{width:30%; height:90upx; line-height:90upx; font-size:30upx; color:#FFF; text-align:center; background:#FF7900;}
.grace-product-attr{width:94%; padding:5px 3%; height:80%; position:absolute; left:0; bottom:0; border-top-left-radius:5px; border-top-right-radius:5px; background:#FFF;}
.grace-product-attr-info{ height:60px; overflow:hidden; display:flex; justify-content:space-between;  border-bottom:1px solid #F1F1F3; padding-bottom:12px;}
.grace-product-attr-info image{width:60px; height:auto; margin-right:10px; flex-shrink:0;}
.grace-product-attr-info .title{width:100%;}
.grace-product-attr-info .title text{font-size:10px; color:#666666;}
.grace-product-attr-list{padding-top:15px; border-bottom:1px solid #F1F1F3;}
.grace-product-attr-list .title{font-weight:700;}
.grace-product-attr-btn{width:94%; padding:5px 3%; position:fixed; z-index:10; bottom:0; left:0;}
.grace-product-attr-btn button{height:40px; line-height:40px;}
.grace-product-attr-close{padding:5px 0; line-height:25px; text-align:right;}
.grace-product-attr-close text{font-size:24px; color:#666666;}

/* 文章骨架结构 */
.grace-skeleton{padding:5px 0; background:#F1F2F3; border-radius:8px;}
.grace-article-title{margin:8px 12px; font-size:26px; line-height:1.5em; font-weight:700;}
.grace-article-author-line{margin:3px 12px; display:flex; flex-wrap:nowrap; justify-content:space-between;}
.grace-article-author{display:flex; flex-wrap:nowrap;}
.grace-article-author image{width:28px; height:28px; border-radius:100%;}
.grace-article-author .author-name{line-height:28px; padding-left:5px;}
.grace-article-author-line .btn{display:inline-block; height:28px; line-height:28px; border-radius:3px; padding:0 10px; background:#00B26A; color:#FFFFFF;}
.grace-article-info-line{margin:8px 12px; display:flex; flex-wrap:nowrap; justify-content:space-between;}
.grace-article-info-line view{color:#888; line-height:20px; font-size:12px;}
.grace-article-contents{margin:10px 0;}
.grace-article-contents .img-item{width:100%;}
.grace-article-contents .img-item image{width:100%;}
.grace-article-contents .text-item{margin:8px 12px; line-height:2.2em; font-size:16px; color:#2F2F2F;} 